<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">  
</head>
<body>
<title>Starfighter</title>
<div class="page">
  <h1>Starfighter</h1>
  <p>
    Starship combat data:
  <ul>
    <li><a href="{{ url_for('simple_page.show', page='index') }}">home</a>
    <li><a href="{{ url_for('simple_page.show', page='ship') }}">ship</a>
    <li><a href="{{ url_for('simple_page.show', page='map') }}">map</a>
    <li><a href="{{ url_for('simple_page.show', page='db') }}">db</a>
  </ul>
  <p>
  {% block body %}{% endblock %}
</div>
</body>
</html>